table {
    border-collapse: collapse;
    color: black;
    border: 4px solid;
    border-radius: 10px;
}
span{
    background-color: yellowgreen;
    text-align: center;
}
.style{
    background-color: yellow;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 0 35%;
}
.style1{
    display:flex ;
    justify-content: flex-end;
    color: slateblue;
}
